

$primario: #1c0538;
$secundario: #5e3a8b;
$resalte: #6f12e0;
$texto_claro: #fffdfa;
$texto_oscuro: #0a0f0f;
$fondo: #0a0f0f;

$primary: $primario;
$secondary: $secundario;
$success: $resalte;
$info: $resalte;
$warning: $resalte;
$danger: $resalte;
$light: $texto_claro;
$dark: $texto_oscuro;
$body-bg: $primario;

$colorboton: $resalte;

$min-contrast-ratio: 2.4;