// 
// Typography
// 

$font-family-sans-serif: "Inter",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji';

$headings-font-family: "Gasoek One",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji';

$headings-font-weight: 400;
$font-size-base: 1rem;
$font-size-lg:                $font-size-base * 1.75;